<h3>Footer Component</h3>
<div>    
  <div> 
      <div class="row">
        <div class="col-lg-8">
          <div>
            <img src="../../../assets/img/unclogo.jpg" alt="" style="float: left;padding: 2%;">
          </div>
          <div>
            <br>
            <br>
             <p><b> © Universidad Nacional de Cajamarca</b></p>
          <p><b> Facultad de Ingeniería</b></p>
          <p><b>Escuela de Ingeniería de Sistemas</b></p>
          </div>         
        </div>
        <div class="col col-lg-4 izq" >
          <p>Gigey Ginori Carrascal Silva</p>
          <p><a href="mailto:gcarrascals15_2@correo.com">gcarrascals15_2@correo.com</a></p>
          <p>Jr. Dos de mayo 736</p>
          <p>930914338</p>
        </div>
      </div>
    </div>
</div>