<div class="container">
    <h3>Datos Component</h3>
    <p><b>Nombre:</b>: XXXXXXXXXXX</p>
    <p><b>Email:</b><a href="mailto:gcarrascals15_2@correo.com">XXXXXXX@XXXX.XXX</a></p>
    <p><b>Dirección:</b>XXXXXXXXXXXXXXXXX</p>
    <p><b>Teléfono:</b>999999999</p>
    <app-barra-social></app-barra-social>
    <br>
    <a class="boton-personalizado-5" href="">Información</a>
    <br>
    <br>
    <p>Porque somos una boutique de ropa importada que brinda las últimas tendencias en moda oriental; mismas que van desde los últimos looks hasta el estereotipo tradicional, principalmente de Japón.</p>
</div> 
