<div class="container-bar">
    <div class="icon-social">
        <a href="#" class="icon-youtube fa fa-linkedin" target="_blank">
            <span class="title">Linkein</span>
        </a>
        <a href="https://www.instagram.com/ginoricarrascal/" class="icon-google fa fa-google" target="_blank">
            <span class="title">Google plus</span>
        </a> 
           
        <a href="https://www.facebook.com/Gigeey" class="icon-facebook fa fa-facebook-f" target="_blank">
                <span class="title">Facebook</span>
        </a>
        <a href="" class="icon-pinterest fa fa-pinterest" target="_blank">
                <span class="title">Pinterest</span>
        </a>
            
     </div>
</div>